// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
$fa-font-path: "../webfonts";

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~admin-lte/dist/css/adminlte.css';

// fontawesome
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";


.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.router-link-exact-active {
    background-color: #ffed4a !important;
    color: rgb(0, 0, 0) !important;
}

.page-enter-active, .page-leave-active {
    transition: opacity 1s, transform 1s;
}
.page-enter, .page-leave-to {
    opacity: 0;
    transform: translateX(-30%);
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}

.fade-enter, .fade-leave-active {
  opacity: 0
}

.nav-link:hover {
  color: #fffb02;
  // background-color: green;
}


.sidebar-dark-primary .user-panel a:hover {
  color: #e60000;
}

.sidebar-dark-primary .sidebar a {
  color: rgb(24, 24, 24);
}

.sidebar-dark-primary .nav-sidebar > .nav-item.menu-open > .nav-link,
.sidebar-dark-primary .nav-sidebar > .nav-item:hover > .nav-link {
  color: #363636;
  background-color: rgb(216, 216, 216);
}

.sidebar-dark-primary .nav-treeview > .nav-item > .nav-link {
  color: rgb(24, 24, 24);  
}

.sidebar-dark-primary .nav-treeview > .nav-item > .nav-link:hover {
  color: #363636;
  background-color: rgb(216, 216, 216);
}